# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node
node_modules/
dist/
build/
coverage/
.next/
out/

# Go
/incharge
/server
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
